<% if(post.author || config.author){ %>
  <div class='new-meta-item author'>
    <% if (post.author) { %>
      <a href="https://annkuoq.github.io/blog/" rel="nofollow">
        <% if (post.author.avatar) { %>
          <img src="<%- post.author.avatar %>">
        <% } else { %>
          <i class="fas fa-user" aria-hidden="true"></i>
        <% } %>
        <p><%- post.author.name %></p>
      </a>
    <% } else { %>
      <a href="https://annkuoq.github.io/blog/" rel="nofollow">
        <% if (config.avatar) { %>
          <img src="<%- config.avatar %>">
        <% } else { %>
          <i class="fas fa-user" aria-hidden="true"></i>
        <% } %>
        <p><%- config.author %></p>
      </a>
    <% } %>
  </div>
<% } %>
